@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.topbar {
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.201);
  position: sticky;
  top: 0;
  z-index: 9999;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.215);
}

.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  color: darkblue;
  cursor: pointer;
  font-family: "Lobster", cursive;
}

.topRight {
  display: flex;
  align-items: center;
}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: #555;
}
.topIconBadge {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -5px;
  right: 0px;
  background: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.topAvatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}
